{% set language = {
  "landing": {
    "pageHeader": "Choose an education plan"
  },
  "index": {
    "noPlanDataFound": "No educational plans on record.",
    "noPlanNameFound": "No plan name given",
    "unitsTakenSuffix": " units taken",
    "unitsRequiredSuffix": " units required"
  },
  "courses": {
    "enrolledPageName": "Taken Courses",
    "openPageName": "Open Courses",
    "extraPageName": "Do you want these courses added to your study plan? Contact your program.",
    "noEnrolledCoursesFound": "No taken courses found.",
    "noOpenCoursesFound": "No open courses found.",
    "noExtraCoursesFound": "No extra courses found.",
    "noCourseNameGiven": "No course name given",
    "noContentFoundForCourse": "No details found for this course.",
    "courseIDLabel": "Course ID",
    "courseCatalogueIDLabel": "Catalog Number",
    "unitsLabel": "Units",
    "gradeLabel": "Grade",
    "dateLabel": "Date"
  },
  "navMenu": {
    "overviewLabel": "Overview",
    "enrolledLabel": "Taken Courses",
    "openLabel": "Open Courses",
    "extraLabel": "Extra Courses"
  }
} %}
