{# this is an internal flag that lets you control whether or not to pass sensitive data back to the client #}
{% set DEBUG_MODE = "false" %}

{# for more documentation see https://npm.campusm.net/-/docs/@ombiel/aek-server-side #}

{% set publicConfig = _config.PUBLIC %}
{% set privateConfig = _config.PRIVATE %}

{# here is a secure way to reference an API key that you don't want exposing to the client. See config.twig for the value #}
{% set exampleApiKey = privateConfig.exampleApiKey %}

{% set idoAPIKey = privateConfig.idoAPIKey %}

{% if aek.action == "get-plans" %}

  {% set service = aek.get_anon_service("PROGRESS_INFO_EDUCATIONAL_PLANS") %}
  {{ service.set_method("GET") }}

  {{ service.set_authorization("Bearer " ~ aek.request("accessToken")) }}
  {{ service.set_header("accept-language", publicConfig.api.language) }}
  {{ service.set_header("x-api-key", idoAPIKey) }}
  {{ service.set_header("accept", "application/json") }}

  {% if DEBUG_MODE == "true" %}
    {% set params = service.get_parameters %}
    {% set endpoint = service.get_endpoint %}
  {% endif %}

  {{ aek.respond({ "response":service.raw_response, "params":params, "endpoint":endpoint }) }}

{% elseif aek.action == "get-courses" %}

  {% set service = aek.get_anon_service("PROGRESS_INFO_COURSES") %}
  {{ service.set_method("GET") }}

  {{ service.set_authorization("Bearer " ~ aek.request("accessToken")) }}
  {{ service.set_header("accept-language", publicConfig.api.language) }}
  {{ service.set_header("x-api-key", idoAPIKey) }}
  {{ service.set_header("accept", "application/json") }}

  {{ service.reset_parameters() }}
  {{ service.set_parameter("pageSize", "1000") }}
  {{ service.set_parameter("educationalPlan", aek.request("educationalPlanID")) }}

  {% if DEBUG_MODE == "true" %}
    {% set params = service.get_parameters %}
    {% set endpoint = service.get_endpoint %}
  {% endif %}

  {{ aek.respond({ "response":service.raw_response, "params":params, "endpoint":endpoint }) }}

{% endif %}
