{% set _config={
  "PUBLIC": {
    "api": {
      "language": "eng"
    },
    "storageKey": "aek2-leiden-progress-master",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "courses": {
      "validEnrolledStatus": "TAKEN",
      "validOpenStatus": "OPEN",
      "validExtraStatus": "EXCLUDED"
    },
    "navMenu": {
      "navMenuOptions": ["one", "two", "three", "four"],
      "navMenuIcons": ["large list layout icon", "large write square icon", "large tasks icon", "large archive icon"],
      "overviewEnabled": true,
      "enrolledEnabled": true,
      "openEnabled": true,
      "extraEnabled": true
    }
  },
  "PRIVATE": {
    "idoAPIKey": "8Zrnf48RX94wUFPW8SJBB9bHHaUeUDm7awdQ2pkE"
  }
} %}
