@import "imports/aek-css-config";

// NavMenu replacement
.navbar.ui.labeled.icon {
  box-shadow: 1px 1px 0 0 #DDD inset;
}

.navbar.ui.labeled.icon div {
  height: 100%;
}

.navbar.ui.labeled.icon a {
  display: inline-block;
  height: 63px;
  line-height: 1rem;
  vertical-align: top;
  cursor: pointer;
}

.navbar.ui.labeled.icon.four a {
  width: 25%;
}

.navbar.ui.labeled.icon.three a {
  width: 33.33%;
}

.navbar.ui.labeled.icon.two a {
  width: 50%;
}

.navbar.ui.labeled.icon.one a {
  width: 100%;
}

.navbar.ui.labeled.icon div, .navbar.ui.labeled.icon div i.icon {
  color: #444;
  opacity: 0.7;
}

.navbar.ui.labeled.icon div {
  border-top: 2px solid #DEDEDE;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar.ui.labeled.icon div i.icon {
  display: block;
  margin: 0.45em auto 0.4em;
}

.navbar.ui.labeled.icon div.disabled {
  opacity: 0.25;
  cursor: default;
}

.navbar.ui.labeled.icon div.active.disabled {
  border-top: 2px solid #BBB !important;
  opacity: 0.5;
}

.navbar.ui.labeled.icon div.active {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 2px solid #444;
  opacity: 1;
}

.navbar.ui.labeled.icon div.active i.icon {
  opacity: 1;
}

.navbar.ui.labeled.icon.prime div.active {
  border-top: 2px solid primeColor;
  color: primeColor;
}

.navbar.ui.labeled.icon.prime div.active i.icon {
  color: primeColor;
}

.navbar.ui.labeled.icon.alt div.active {
  border-top: 2px solid altColor;
  color: altColor;
}

.navbar.ui.labeled.icon.alt div.active i.icon {
  color: altColor;
}
