<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('') }}


      {% set language = {
  "landing": {
    "pageHeader": "Choose an education plan"
  },
  "index": {
    "noPlanDataFound": "No educational plans on record.",
    "noPlanNameFound": "No plan name given",
    "unitsTakenSuffix": " units taken",
    "unitsRequiredSuffix": " units required"
  },
  "courses": {
    "enrolledPageName": "Taken Courses",
    "openPageName": "Open Courses",
    "extraPageName": "Do you want these courses added to your study plan? Contact your program.",
    "noEnrolledCoursesFound": "No taken courses found.",
    "noOpenCoursesFound": "No open courses found.",
    "noExtraCoursesFound": "No extra courses found.",
    "noCourseNameGiven": "No course name given",
    "noContentFoundForCourse": "No details found for this course.",
    "courseIDLabel": "Course ID",
    "courseCatalogueIDLabel": "Catalog Number",
    "unitsLabel": "Units",
    "gradeLabel": "Grade",
    "dateLabel": "Date"
  },
  "navMenu": {
    "overviewLabel": "Overview",
    "enrolledLabel": "Taken Courses",
    "openLabel": "Open Courses",
    "extraLabel": "Extra Courses"
  }
} %}
      {% set theme = {
  "primary":"prime",
  "secondary":"alt"
} %}
      {% set currency_prefix = "£" %}
  
  {% set _config={
  "PUBLIC": {
    "api": {
      "language": "eng"
    },
    "storageKey": "aek2-leiden-progress-master",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "courses": {
      "validEnrolledStatus": "TAKEN",
      "validOpenStatus": "OPEN",
      "validExtraStatus": "EXCLUDED"
    },
    "navMenu": {
      "navMenuOptions": ["one", "two", "three", "four"],
      "navMenuIcons": ["large list layout icon", "large write square icon", "large tasks icon", "large archive icon"],
      "overviewEnabled": true,
      "enrolledEnabled": true,
      "openEnabled": true,
      "extraEnabled": true
    }
  },
  "PRIVATE": {
    "idoAPIKey": "8Zrnf48RX94wUFPW8SJBB9bHHaUeUDm7awdQ2pkE"
  }
} %}
  {# this is an internal flag that lets you control whether or not to pass sensitive data back to the client #}
{% set DEBUG_MODE = "false" %}

{# for more documentation see https://npm.campusm.net/-/docs/@ombiel/aek-server-side #}

{% set publicConfig = _config.PUBLIC %}
{% set privateConfig = _config.PRIVATE %}

{# here is a secure way to reference an API key that you don't want exposing to the client. See config.twig for the value #}
{% set exampleApiKey = privateConfig.exampleApiKey %}

{% set idoAPIKey = privateConfig.idoAPIKey %}

{% if aek.action == "get-plans" %}

  {% set service = aek.get_anon_service("PROGRESS_INFO_EDUCATIONAL_PLANS") %}
  {{ service.set_method("GET") }}

  {{ service.set_authorization("Bearer " ~ aek.request("accessToken")) }}
  {{ service.set_header("accept-language", publicConfig.api.language) }}
  {{ service.set_header("x-api-key", idoAPIKey) }}
  {{ service.set_header("accept", "application/json") }}

  {% if DEBUG_MODE == "true" %}
    {% set params = service.get_parameters %}
    {% set endpoint = service.get_endpoint %}
  {% endif %}

  {{ aek.respond({ "response":service.raw_response, "params":params, "endpoint":endpoint }) }}

{% elseif aek.action == "get-courses" %}

  {% set service = aek.get_anon_service("PROGRESS_INFO_COURSES") %}
  {{ service.set_method("GET") }}

  {{ service.set_authorization("Bearer " ~ aek.request("accessToken")) }}
  {{ service.set_header("accept-language", publicConfig.api.language) }}
  {{ service.set_header("x-api-key", idoAPIKey) }}
  {{ service.set_header("accept", "application/json") }}

  {{ service.reset_parameters() }}
  {{ service.set_parameter("pageSize", "1000") }}
  {{ service.set_parameter("educationalPlan", aek.request("educationalPlanID")) }}

  {% if DEBUG_MODE == "true" %}
    {% set params = service.get_parameters %}
    {% set endpoint = service.get_endpoint %}
  {% endif %}

  {{ aek.respond({ "response":service.raw_response, "params":params, "endpoint":endpoint }) }}

{% endif %}


<html lang="en" data-aek-package="[[__package_data__]]" data-public-assets="[[__public_assets__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <script type="aek/config" id="aek__config">{{ _config["PUBLIC"]|json_encode|raw }}</script>
  </head>

<body  >

  
  <script>

    !function(e){function o(n){if(t[n])return t[n].exports;var s=t[n]={exports:{},id:n,loaded:!1};return e[n].call(s.exports,s,s.exports,o),s.loaded=!0,s.exports}var t={};return o.m=e,o.c=t,o.p="/public/js/",o(0)}([function(e,o,t){"use strict";!function(){window.loadCampusmAssetStore=function(e,o){o||(o="0.0.8");var t,n=function(){e&&e(window.CampusM.assetStore)};try{t=JSON.parse(window.localStorage.__campusmAssetStore)}catch(s){}if(t&&t.version>=o)new Function(t.code)(),n();else{var r=document.createElement("script");r.onload=n,r.onError=function(){t?(console.warn("AssetStore: Unable to fetch minimum version "+t.version+" instead"),new Function(t.code)(),n()):console.error("AssetStore: unable to initialise AssetStore")},r.src="https://portal.ombiel.co.uk/assets/aek/aek-asset-store/"+o+"/loader.js",document.head.appendChild(r)}}}()}]);
    loadCampusmAssetStore(function(assetStore) {

      var sheets = ["main","nav-menu","vertical-segment"];
      sheets = sheets.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/css/"+s+".css"});

      var scripts = ["main"];
      scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/js/"+s+".js"});

      assetStore.fetchAssets(scripts);
      assetStore.loadCSS(sheets).then(function() {
        assetStore.loadJS(scripts);
      });

    });

  </script>

</body>
</html>
